Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

# PHP max file uploads
php_value max_execution_time 900
php_value max_input_time 900
php_value upload_max_filesize 250M
php_value post_max_size 250M

# Compress output
AddOutputFilterByType DEFLATE text/html text/css text/plain text/xml application/x-javascript
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4.0[678] no-gzip
BrowserMatch bMSIE !no-gzip !gzip-only-text/html

<IfModule mod_expires.c>
	# Turn on the module for this directory
	ExpiresActive on
	# Set default
	ExpiresDefault "access plus 30 days"
	ExpiresByType image/jpg "access plus 30 days"
	ExpiresByType image/gif "access plus 30 days"
	ExpiresByType image/jpeg "access plus 30 days"
	ExpiresByType image/png "access plus 30 days"
	ExpiresByType text/css "access plus 30 days"
	ExpiresByType text/javascript "access plus 30 days"
	ExpiresByType application/javascript "access plus 30 days"
	ExpiresByType application/x-javascript "access plus 30 days"
	ExpiresByType application/x-shockwave-flash "access plus 30 days"
</IfModule>

# Deny files that shouldnt be public
<FilesMatch "^(gitfetchmerge|fixpermissions|gitremovedeletedfiles|gitresetenv|gitup|\.buildpath|\.gitignore|.project)$">
    Deny from all
</FilesMatch>

# Without www to with www
RewriteCond %{HTTP_HOST} ^paperton.com [NC]
RewriteRule ^(.*)$ http://www.paperton.com/$1 [L,R=301]

# If a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Otherwise forward it to index.php
RewriteRule . index.php